.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.5s
}

.fade-in-slow {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3.5vw;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 170%;
}

body {
  margin: 6% 10% 0 10%;
  overflow: hidden;
}

a {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
}

a:hover {
  transition: all .2s ease-in-out;
  color: black;
  box-shadow: 10px 10px 50px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  h1 {
    line-height: 240%;
  }
}